* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Gotham SSm A', sans-serif;
}

html { scroll-behavior: smooth }

body {
    min-height: 100vh;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

a {
    display: block;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}
  
p a { display: inline }

li { list-style-type: none }

form, input, textarea, select, button, label {
    display: block;
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    appearance: none;
    color: inherit;
    background-color: transparent;
}

img, picture, video, iframe, figure {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}